<!-- accounts/templates/accounts/register.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registration</title>
</head>
<body>
    <h2>User Registration</h2>
    <form method="post">
        {% csrf_token %}
        <label for="id_email">Email:</label><br>
        <input type="email" id="id_email" name="email" required><br><br>
        <button type="submit">Send OTP</button>
    </form>
    <!-- {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %} -->
</body>
</html>
